<header class="header">
  <div class="container d-flex justify-content-between align-items-center">
    <!-- Logo -->
    <div class="logo">
      <h2>XPORTAL ESPORTS</h2>
    </div>

    <!-- Hamburger Menu (Only for Mobile) -->
    <button class="hamburger" [ngClass]="{ 'active': menuOpen }" (click)="toggleMenu()">☰</button>


    <!-- Navigation Menu -->
    <nav class="nav" [ngClass]="{ 'active': menuOpen }">
      <a routerLink="/staff-roles-summary" class="nav-link" (click)="closeMenu()">Staff Summary</a>
    </nav>
  </div>
</header>